@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;600;700&family=IBM+Plex+Sans:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #F7F9FB;
}

h1, h2, h3, h4 {
  font-family: 'Source Serif 4', serif;
}
